.custom-appnavbar-container {
    width: 100%;
    height: 56px;  /* Fixed height */
    position: fixed;  /* Fix navbar at the top */
    top: 0;  /* Stick to top */
    left: 0;
    background-color: #4b6cb7;
    z-index: 1000;  /* Ensure it stays above other elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a slight shadow */
}

#customNavbarLogoutButton {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#customNavbarLogoutButton:hover {
    background-color: black !important;
    color: white !important;
    border: 1px solid white !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}