.display-unauth-txn-custom-container {
    max-width: 100%;
    max-height: 100%;
}

.display-unauth-txn-custom-table-wrapper {
    max-height: 600px;
    overflow-y: auto;
}

.credit-row {
    background-color: #e6f7e6 !important;
}

.debit-row {
    background-color: #fde6e6 !important;
}

.display-unauth-txn-custom-table-head th {
    background-color: #706f44 !important;
    color: #fff !important;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
}

.display-unauth-txn-custom-card {
    margin-bottom: 2vh;
}